.bgimg{

    position: absolute;
    top:0;
    bottom: 100;
    right: 0;
    left: 0;
        background-image: url("./shopping-cart-with-wooden-elements_23-2148879396.avif");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
}