.bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("./shopping-cart-with-wooden-elements_23-2148879396.avif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
